:root {
  --clr-orange: hsl(31,77%,52%);
  --clr-cyan: hsl(184,100%,22%);
  --clr-green: hsl(179,100%,13%);

  --clr-white: hsl(0, 0%, 95%);
  --clr-gray: hsl(0, 0%, 81%);

  --fs-15: 15px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-15);
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background: var(--clr-white);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2em;
  color: var(--clr-white);
  margin: 0;
  text-transform: uppercase;
}

p {
  color: var(--clr-gray);
  margin: 0;
  width: 95%;
  line-height: 1.6;
  padding-bottom: 2.25rem;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

button {
  background-color: var(--clr-white);
  padding: .75em 1.75em;
  border: 2px solid transparent;
  border-radius: 35px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--fs-15);
  cursor: pointer;
}

.col--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.25rem;
  flex: 1 0;
  justify-content: flex-start;
  max-width: 300px;
}

.col:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.col:last-child {
  border-radius: 0 .5rem .5rem 0;
}

.icon {
  width: 25%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  margin-top: auto;
}

#sedan .btn>button:hover,
#suv .btn>button:hover,
#luxury .btn>button:hover{
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
}

#sedan,
#sedan .btn>button:hover {
  background-color: var(--clr-orange);
}
#suv,
#suv .btn>button:hover {
  background-color: var(--clr-cyan);
}
#luxury,
#luxury .btn>button:hover {
  background-color: var(--clr-green);
}

#sedan .btn>button {
  color: var(--clr-orange);
}
#suv .btn>button {
  color: var(--clr-cyan);
}
#luxury .btn>button {
  color: var(--clr-green);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 767px) {
  .col--container {
    flex-direction: column;
  }

  .col:first-child {
    border-radius: .5rem .5rem 0 0;
  }

  .col:last-child {
    border-radius: 0 0 .5rem .5rem;
  }
}