:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%); 
  --slightly-white-main: hsla(0, 0%, 100%, 0.75); 
  --slightly-white-stats: hsla(0, 0%, 100%, 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--slightly-white-main);
  background: var(--very-dark-blue);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

body,
p,
h1,
h2, 
h3 {
  margin: 0;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: var(--white);
  font-size: 37px;
}

h2 {
  font-family: 'Inter', sans-serif;
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--slightly-white-stats);
  letter-spacing: 0.1rem;
}

p {
  line-height: 1.6;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

main {
  margin: 0 auto;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background: var(--dark-blue);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  gap: 0;

  box-shadow: 0px 15px 20px hsla(0, 0%, 0%, 0.3);
}

.left {
  padding: 0 95px 0 75px;
  width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description span {
  color: var(--soft-violet);
}

.statList {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right {
  width: 540px;
  position: relative;
}

.image {
  height: 450px;
  border-radius: 0px 10px 10px 0px;
}

.overlay {
  background: hsl(277, 85%, 20%);;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 450px;
  top: 0;
  border-radius: 0px 10px 10px 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1190px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
  
  .card {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .left, .right {
    max-width: 330px;
  }

  .left {
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .description { 
    text-align: center; 
    padding: 0 35px;
  }

  .statList {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    gap: 25px;
  }

  .stat {
    align-items: center;
  }

  .image, .overlay {
    border-radius: 10px 10px 0px 0px;
    height: 250px;
  }
}