:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);

  
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--gray-blue);
  background: var(--cream);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

p { line-height: 175%;}

h1, h2 {
  font-family: 'Fraunces', serif;
  font-size: 32px;
}

h1 { color: var(--dark-blue);}
h2 { color: var(--dark-cyan);}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

main {
  margin: 0 auto;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: var(--dark-cyan);
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  padding: 15px 0;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--gray-blue);
}

button img {
  width: 14px;
}

button p {
  font-weight: 700;
  font-size: 15px;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.left {
  background: url(./images/image-product-desktop.jpg) center;
  background-size: cover;
  border-radius: 10px 0 0 10px;
  width: 300px;
}

.right {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 30px;
  gap: 30px;
  background: var(--white);
  border-radius: 0 10px 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pricing span {
  text-decoration: line-through;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1151px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    margin: 0 0 20px 0;
  }

  .left {
    height: 240px;
    border-radius: 10px 10px 0 0;
    width: 350px;
    background: url(./images/image-product-mobile.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .right {
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    gap: 15px;
  }
}